section#About .container h1 {
    font-family: "Anta", sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* Media Query */
/* Tablet */
@media (max-width: 768px) {
}

/* Mobile L */
@media (max-width: 425px) {
    section#About .container img {
        max-height: 200px;
    }
}

/* Mobile M */ 
@media (max-width: 375px) {
}

/* Mobile S */
@media (max-width: 320px) {
}